<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <table class="table table-dark">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>NAME</td>
                    <td>DESCRIPTION</td>
                    <td>PRICE</td>
                </tr>
                </thead>
                <tbody th:each="item:${items}">
                <tr>
                    <td th:text="${item.id}">1</td>
                    <td th:text="${item.name}">Item name</td>
                    <td th:text="${item.description}">Item description</td>
                    <td th:text="${item.price}">Item price</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>